beautifulsoup4==4.15.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
curl_cffi==0.16.2
dnspython==2.8.0
et_xmlfile==2.0.0
idna==3.19
loguru==0.7.3
lxml==6.1.2
multitasking==0.0.13
numpy==2.2.6
openpyxl==3.1.5
pandas==2.3.3
peewee==4.4.0
platformdirs==4.11.4
protobuf==7.36.0
pycparser==3.0
pymongo==4.17.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
pytz==2026.3.post1
requests==2.34.2
schedule==1.2.2
scheduler==0.8.11
six==1.17.0
soupsieve==2.9.2
typeguard==4.6.0
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
uuid==1.30
websockets==16.1.1
yfinance==1.6.0
